-# Pull in Setup Pieces
= render :template => "../setup/client-author.haml"
= render :template => "../setup/webfonts.haml"
= render :template => "../setup/frameworks.haml"
= render :template => "../setup/sections.haml"
= render :template => "../setup/development.haml"
= render :template => "../setup/variables.haml"

-# Render the Default Template
= render :template => "layouts/default.haml"