- @title = "Drupal 7 UI Patterns"
- @headertext = "Based on the default markup AND CSS from Drupal 7 <a href='elements-ui-patterns-drupal.html'>Don't show default Drupal 7 CSS</a>"
- @subnav = "<nav class='section-nav'></nav> "
- @extracss = "survivalkit/drupal7.css"

%section#drupal-patterns.element-group
  %h1.section-title Drupal Patterns
  = render :template => "/custom/drupal/patterns/_site-name.haml"
  = render :template => "/custom/drupal/patterns/_search.haml"
  = render :template => "/custom/drupal/patterns/_messages.haml"
  = render :template => "/custom/drupal/patterns/_block.haml"
  = render :template => "/custom/drupal/patterns/_tables.haml"
  = render :template => "/custom/drupal/patterns/_rss-link.haml"
  = render :template => "/custom/drupal/patterns/_links.haml"
  = render :template => "/custom/drupal/patterns/_taxonomy.haml"
  = render :template => "/custom/drupal/patterns/_field-image.haml"
  = render :template => "/custom/drupal/patterns/_node.haml"
  = render :template => "/custom/drupal/patterns/_comments.haml"
  = render :template => "/custom/drupal/patterns/_form-comment.haml"
%section#drupal-navigation.element-group
  %h1.section-title Drupal Navigation
  = render :template => "/custom/drupal/patterns/_menu.haml"
  = render :template => "/custom/drupal/patterns/_menu-tree.haml"
  = render :template => "/custom/drupal/patterns/_tabs.haml"
  = render :template => "/custom/drupal/patterns/_breadcrumbs.haml"
  = render :template => "/custom/drupal/patterns/_pager.haml"
%section#drupal-forms.element-group
  %h1.section-title Drupal Forms
  = render :template => "/custom/drupal/patterns/_form-basic.haml"
  = render :template => "/custom/drupal/patterns/_form-submit.haml"
  = render :template => "/custom/drupal/patterns/_form-button.haml"
  = render :template => "/custom/drupal/patterns/_form-image-button.haml"
  = render :template => "/custom/drupal/patterns/_form-markup.haml"
  = render :template => "/custom/drupal/patterns/_form-fieldsets.haml"
  = render :template => "/custom/drupal/patterns/_form-vertical-tabs.haml"
  = render :template => "/custom/drupal/patterns/_form-new-account.haml"
  = render :template => "/custom/drupal/patterns/_form-login.haml"
  = render :template => "/custom/drupal/patterns/_form-new-password.haml"
