= render :template => "../../style-tile/tile.haml"
- @title = "Style Tile"
- @images = @images
- @colours = @colours
- @words = @words

%article.text-examples
  .headers.group
    %h1 This is a Page Title
    %h2 This is a Header
    %h3 This is a Sub Header
    %a{:href => ""} This is an example of Link Text
  .text.group
    %p.sans
      Nullam id dolor id nibh ultricies vehicula ut id elit. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod. Vestibulum id ligula porta felis euismod semper.
    %p.sans
      Maecenas faucibus mollis interdum. Vivamus sagittis
      %a{:href => ""} donec odio
      lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas faucibus mollis interdum. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Sed posuere consectetur est at lobortis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
    %p.serif Donec ullamcorper nulla non metus auctor fringilla. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Etiam porta sem malesuada magna mollis euismod.
    %p.serif Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Curabitur blandit tempus porttitor. Nullam id dolor id nibh ultricies vehicula ut id elit. Cras mattis consectetur purus sit amet fermentum. Maecenas sed diam eget risus varius blandit sit amet non magna.
  .buttons.group
    %ul
      - @buttons.each_with_index do |button, i|
        %li
          %a{:class => button, :href => '#'}
            Button #{i}
%article.graphic-examples
  .colors.group
    %h2 Possible Colors
    %ul
      - (1..@colours).each do |c|
        %li{:class => "color-#{c}"}
  .images.group
    %h2 Possible Patterns
    %ul
      - @images.each_with_index do |image, i|
        %li{:class => "pattern-#{i + 1}"}
          %img{:alt => "Pattern #{i + 1}", :src => "#{image}"}
  .inspiration.group
    %ul
      - @words.each_with_index do |word, i|
        %li{:class => "word-#{i + 1}"}
          #{word}