%header
  -if @clientLogo
    %a{:href => "/index.html", :class => "logo"}
      %img{:src => "#{@clientLogo}", :alt => "#{@clientName}"}

  -if @sections
    - @host = "#{request.protocol}#{request.host_with_port}"
    - @url = "#{request.url}"
    - @url[@host] = ''
    %nav.primary-links
      %ul
        - @sections.each_with_index do |url, i|
          %li
            %a{:href => "#{url[1]}", :class => ('active' if @url == "#{url[1]}")}
              #{url[0]}